* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(115.99deg, #00e1e7 -3.86%, #5f41d9 61.74%);
}

/*-------------------------------fotter styling---------------------------------*/
.footer {
  margin-top: auto;
  height: auto;
  float: bottom;
  height: 20vh;
}

.footer .col {
  margin-left: 100px;
  width: 190px;
  height: 120px;
  float: left;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0px 5px 0px;
}

/*the line under h1*/
hr {
  width: 20%;
  border: 0.5px solid #ffffff;
  margin: 0px 0px 10px 0px;
  transition: width 1s;
}

/*make the line longer when hover the whole ul*/
.col:hover > hr {
  width: 60%;
}

.footer .col ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
}

.footer .col ul li {
  color: #ffffff;
  font-size: 13.2px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

/*transform the li in fotter but not the icons which also in li*/
.footer [class="col"] ul li:hover {
  color: black;
  transform: translateX(4px);
  transition: 0.5s;
}

/*display the icon list in row*/
.social ul li {
  display: inline-block;
}

.social ul li img {
  height: 40px;
  width: 40px;
}

/*change icon colors when hover them*/
.icon11 img:hover {
  content: url("https://img.icons8.com/ios-filled/50/1A1A1A/z-coordinate.png");
}

.icon12 img:hover {
  content: url("https://img.icons8.com/material-outlined/24/1A1A1A/facebook.png");
}

.icon13 img:hover {
  content: url("https://img.icons8.com/material-outlined/24/1A1A1A/linkedin--v1.png");
}

.icon1 img:hover {
  content: url("https://img.icons8.com/material-outlined/24/1A1A1A/linkedin--v1.png");
}

.icon2 img:hover {
  content: url("https://img.icons8.com/windows/32/1A1A1A/github-squared.png");
}

.icon3 img:hover {
  content: url("https://img.icons8.com/ios-filled/50/1A1A1A/apple-mail.png");
}

/*-------------------------------header styling---------------------------------*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 20px;
}

.header-menu {
  display: flex;
  list-style: none;
}

.header-menu > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-left: 20px;
}

/*display the icon near text in each header a*/
header a {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*the icons in header*/
.header-menu > li > a > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.header-menu > li > a {
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  opacity: 0.6;
  color: white;
}

.header-menu > li > a:hover {
  opacity: 1;
}

/*-------------------------------main styling---------------------------------*/
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}

.left-content {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-content {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  line-break: anywhere;
  font-family: monospace;
  font-style: normal;
  font-size: 22px;
}

.left-content > p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.about div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 63vh;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(0, 119, 255, 0.4) -5px 5px, rgba(0, 34, 255, 0.3) -10px 10px,
    rgba(4, 192, 255, 0.2) -15px 15px, rgba(13, 152, 191, 0.779) -20px 20px;
  margin-bottom: 20px;
}

.about div:has(video:focus) {
  transform: scale(1.08);
  transition: 3s;
}

.about div img {
  width: 90px;
  height: 90px;
}

video {
  width: 525px;
  height: 260px;
  border-radius: 30px;
  border: 2px solid #5f41d9;
}

main > div > p {
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  line-height: 1.4;
  font-size: 20px;
  font-family: "Iceland", cursive;
  color: #333;
}

.about-h3 {
  color: #333;
  text-align: center;
}

.proccessList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dllList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 0.9em;
  font-family: monospace;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  width: 95%;
  border-radius: 15px 15px 0 0;
  text-align: left;
}

th {
  word-wrap: break-word; /* All browsers since IE 5.5+ */
  overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}

tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th {
  color: whitesmoke;
  text-align: center;
}

table thead tr {
  color: #ffffff;
  height: 50px;
  background-color: transparent;
}

th {
  font-size: 17px;
}

td a,
td a:visited {
  color: inherit;
}

th,
td {
  padding: 12px 15px;
}

td {
  border: 1px solid #dddddd;
  font-size: 14px;
}

table tr {
  background-color: #ffffff;
}

table tbody tr:last-of-type {
  border-bottom: 4px solid #383888;
}

table tbody tr:hover {
  font-weight: bold;
  color: #2f91e0;
  background-color: #f3f3f3;
}

td a:hover {
  color: #383888;
}

.about {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td:not(.warning-icon) {
  max-width: 100px;
  overflow: auto;
  white-space: nowrap;
  direction: rtl;
}

.link {
  direction: ltr;
}

.btn {
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  position: absolute;
  top: 95px;
  right: 10px;
  background-color: #fcfcfd;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  cursor: pointer;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: rgba(0, 119, 255, 0.4) -2px 2px, rgba(0, 34, 255, 0.3) -4px 4px,
    rgba(4, 192, 255, 0.2) -6px 6px, rgba(13, 152, 191, 0.779) -8px 8px;
  transform: translateY(2px);
}

.btn a {
  color: #2f91e0;
  text-decoration: none;
}

.warning-icon p {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.warning-icon img {
  height: 30px;
  margin-left: 5px;
  padding: 0;
  float: left;
}

.box select {
  color: white;
  background-color: #2f91e0;
  padding: 5px 0 5px 0;
  border-radius: 10px;
  width: 125px;
  text-align: center;
}

option:not(.option-h) {
  text-align: left;
}

.memory-logo {
  position: absolute;
  height: 50px;
  width: 70px;
  left: 100px;
  top: 20px;
}

span {
  position: absolute;
  left: 190px;
  top: 25px;
  font-size: 35px;
  font-weight: bolder;
  font-family: "Iceland", cursive;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar-track {
  border: 5px solid white;
  background-color: #b2bec3;
}

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(52, 54, 65, 0.864);
  border-radius: 10px;
}
